<h1>Sign Up</h1>

<%= form_tag '/signup' do%>
  <%= label_tag :name%><br>
  <%= text_field_tag :name%><br>
  <%= label_tag :email%><br>
  <%= text_field_tag :email%><br>
  <%= label_tag :password%><br>
  <%= password_field_tag :password%><br>

  <%= submit_tag "Signup" %>
<%end%>

<br><br>
<%= link_to "Login", login_path %>
